<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>

<div class="content">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-full-width table-responsive">
                        <form action="" th:action="@{''}" th:object="${form}" method="post">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label for="search">Поиск</label>
                                    <input type="text" id="search" name="search" class="form-control"
                                           placeholder="Профессия, должность или компания"/>
                                </div>
                                <div class="form-group col-6">
                                    <label for="experience">Опыт работы</label>
                                    <select id="experience" name="experience" class="form-control">
                                        <option th:each="experience : ${experiences}"
                                                th:value="${experience.key}"
                                                th:text="${experience.value}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" style="color: rgba(255, 255, 255, 0.7) !important" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Дополнительные параметры
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="form-group col-6">
                                                <label for="currency">Валюта</label>
                                                <select id="currency" name="currency" class="form-control">
                                                    <option th:each="currency : ${currencies}"
                                                            th:value="${currency.code}"
                                                            th:text="${currency.abbr}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="resume_search_label">Уникальные параметры</label>
                                                <select id="resume_search_label" name="experience" class="form-control">
                                                    <option th:each="resume_search_label : ${resume_search_labeles}"
                                                            th:value="${resume_search_label.id}"
                                                            th:text="${resume_search_label.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" value="Submit" class="btn btn-primary">Найти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Средняя зарплата по запросу: <span th:text="${requestName}"></span></h5>
                    <h3 class="card-title"><i class="tim-icons icon-money-coins text-primary"></i> <span
                            th:text="${avgSalary}"></span></h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Найдено вакансий</h5>
                    <h3 class="card-title"><i class="tim-icons icon-badge text-info"></i> <span
                            th:text="${vacancies}"></span></h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Максимальная зарплата по запросу</h5>
                    <h3 class="card-title"><i class="tim-icons icon-money-coins text-success"></i> <span th:text="${maxSalary}"></span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-tasks">
                <div class="card-header ">
                    <h6 class="title d-inline">Вакансии</h6>
                    <p class="card-category d-inline">Топ 20</p>
                    <div class="dropdown">
                        <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                            <i class="tim-icons icon-settings-gear-63"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#pablo">Id</a>
                            <a class="dropdown-item" href="#pablo">Name</a>
                            <a class="dropdown-item" href="#pablo">Premium</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th colspan="2">Id</th>
                                <th colspan="2">Name</th>
                                <th colspan="2">Зарплата</th>
                                <th colspan="2">Ссылка</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${items.empty}">
                                <td colspan="6"> No vacancy Available</td>
                            </tr>
                            <tr th:each="item : ${items}">
                                <td colspan="2"><span th:text="${item.id}"> Id </span></td>
                                <td colspan="2"><span th:text="${item.name}"> Name </span></td>
                                <td colspan="2"><span th:text="${item.salary.from}"> Зарплата </span></td>
                                <td colspan="2"><a target="_blank" th:href=${item.alternateUrl}>Ссылка</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!--Открывающий тэг на шаблонной странице-->
</div> <!--Открывающий тэг на шаблонной странице-->
<span th:replace="~{fragments/footer :: footer (~{::body},'db')}"></span>
</body>
</html>
