<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>


<table width="100%">
  <thead>
  <tr>
    <th> Id </th>
    <th> Name </th>
    <th> Salary </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${items.empty}">
    <td colspan="2"> No vacancy Available </td>
  </tr>
  <tr th:each="item : ${items}">
    <td><span th:text="${item.id}"> Id </span></td>
    <td><span th:text="${item.name}"> name </span></td>
    <td><span th:text="${item.salary}"> salary </span></td>
  </tr>
  </tbody>
</table>

</body>
</html>
